*{
	margin: 0;
	padding: 0;
}

body {
	background-color: #f6f6f6; 
}

.input-field input:focus + label {
   color: #ff6e40 !important;
 }

.input-field  .prefix.active {
  color: #ff6e40;
} 

 .row .input-field input:focus {
  border-bottom: 1px solid #ff6e40 !important;
 }

 input[type=text]:not(browser-default):focus:not([readonly]),
 input[type=password]:not(browser-default):focus:not([readonly]),
 input[type=number]:not(browser-default):focus:not([readonly]) {
  box-shadow: 0 1px 0 0 #ff6e40 !important;
 }

.toast {
	position: fixed !important;
    top: 85% !important;
}

.collection a.collection-item {
    color: #ff6e40;
}

#login-page .txt-head h5 {
	margin-top: 5%;
}

#login-page .txt-head p {
	margin-bottom: 5px;
}

.form-login, .cadastra-produto, .lista-produtos, .edita-produto {
	border-radius: 0.25rem;
	padding-left: 0.8125rem;
	padding-right: 0.8125rem;
	border-top: 0.25rem solid #ff6e40;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.bt {
    padding-bottom: 5%;
}

.form-produto {
	margin-top: 5%;
}